/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100;300&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color-alt: #c42130;
  --title-color: #fff;
  --text-color: #ecdbdb;
  --text-color-light: #8f8a8a;
  --body-color: #000000;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --heading-font: "Roboto", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/

  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*========== BASE ==========*/
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}
hr {
  margin-bottom: var(--mb-3);
}
h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
}

/*========== CSS CLASSES ==========*/
.section {
  padding: 4rem 0 2rem;
}
.mb {
  margin-bottom: var(--mb-2);
}
.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}
.active-link {
  background: var(--first-color-alt);
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__link {
  display: inline-block;
  text-align: center;
  width: max-content;
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  background-color: #ecdbdb;
  color: #111;
  transition: 0.3s;
}

.nav__link:hover {
  background-color: var(--first-color-alt);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
  background-color: var(--first-color-alt);
}

/*========== HOME ==========*/
.home__container {
  row-gap: 0.5rem;
}

.home__img {
  width: 280px;
  justify-self: center;
}
.home__img img {
  border-radius: 1rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}
.title__img {
  font-family: var(--heading-font);
  font-weight: 100;
  margin-bottom: var(--mb-2);
}
.home__description {
  margin-bottom: var(--mb-3);
  text-align: right;
}

/*========== BUTTONS ==========*/
.button__link {
  display: inline-block;
  text-align: center;
  width: max-content;
  font-size: 0.987rem;
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  background-color: #ecdbdb;
  color: #111;
}

/*========== ABOUT ==========*/
.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-2);
}

.about__img {
  width: 280px;
  justify-self: center;
}
.about__img img {
  border-radius: 1rem;
  /* height: 320px; */
}

/*========== Skills ==========*/
.skills__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.skills__data {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
}

.skills__data:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.skills__img {
  width: 180px;
  transition: 0.3s;
}
.skills__img:hover {
  transform: scale(1.1);
}
.skills__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

/*========== Work ==========*/
.work__container {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.work__content {
  display: grid;
  /* padding: 0.25rem 0.75rem 0.75rem; */
}

.work__img {
  width: 210px;
  justify-self: center;
  margin-bottom: 0.25rem;
  border-radius: 0.878rem;
  transition: 0.3s;
}

.work__img:hover {
  transform: scale(1.1);
}
/*========== Contact me ==========*/
.contact__description {
  color: #fff;
}

.contact__description {
  text-align: left;
  margin-bottom: var(--mb-4);
}

.contact__form {
  width: 280px;
  justify-self: center;
}
#contact-error{
  color: var(--first-color-alt);
  display: inline-block;
  padding: 1rem 0.5rem;
  border-radius: .5rem;
  width: max-content;
  font-size: var(--normal-font-size);
}
.form__content {
  width: 270px;
}

.form__input {
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--container-color);
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--container-color);
  margin-bottom: 2rem;
}
.text__area {
  width: 100%;
  height: 150px;
  padding: 12px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  resize: none;
  border-bottom: 1px solid var(--container-color);
  color: var(--container-color);
}

.form__input::placeholder,
.text__area::placeholder {
  color: var(--container-color);
  /* font-weight: bold; */
}
.form__button {
  width: 100%;
  padding: 1rem;
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
  margin-bottom: 3rem;
  background-color: var(--first-color-alt);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}
.social__media{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon__link{
  color: var(--container-color);
  font-size: var(--biggest-font-size);
}
.icon__link:nth-child(1){
  color: #2388e7;
}
.icon__link:nth-child(2){
  color: #1ac45b;
}
.icon__link:nth-child(3){
  color: #2388e7;
}

/* Footer */
.footer{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}
/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img,
  .about__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .contact__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__img img {
    height: 400px;
  }
  .home__container {
    padding: 5rem 0 0;
  }
  .title__img {
    font-size: 4rem;
  }
  .home__img {
    order: 1;
  }
  .home__data {
    order: 2;
  }

  .section-title-center,
  .about__data,
  .contact__description {
    text-align: initial;
  }

  .home__img,
  .about__img {
    width: 100%;
  }

  .about__img {
    order: 1;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .home__container {
    padding: 7rem 2rem 0;
  }
  .home__data {
    margin-top: 10rem;
  }
  .home__title {
    font-size: 5rem;
  }
  .about__container {
    padding: 0 2rem;
  }

  .work__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  /* .work__content {
    padding: 0.5rem 1.5rem 1.5rem;
  } */

  .work__img {
    width: 320px;
    margin-bottom: var(--mb-1);
  }
  .contact__container {
    padding: 2rem;
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img,
  .about__img {
    width: 469px;
  }
  .contact__content {
    margin-bottom: 11rem;
  }
  .home__container,
  .about__container,
  .contact__container {
    column-gap: 5rem;
  }
  .form__content {
    width: 320px;
  }

}
